@import './root.css';

.App {
  margin: 0;
  padding: 0;
  
}

.navBar {
  /* border-bottom: 1px solid black; */
  display: flex;
  align-items: center;
  padding: 1rem;
  margin: 0 auto;
}

.navBar .navBar-content {
  margin: 0 10px;
}

.landingpage{
  display: grid;
  grid-template-columns: repeat(24,auto);
  /* grid-template-rows: repeat(1, auto); */
  background-color:#ffffff;
  width: 100%;
  margin: 0 auto;
}
.first-main-content {
  grid-column: 1 / -1;
  /* grid-row: 1; */
  height: 90vh;
  background-color: #1417afc0;
}
.hero-page {
  margin: 200px 0 0 100px;
}
.hero-page .hero-button {
  display: flex;
  align-items: center;
  padding: 1em 2em 1em 2em;
  background-color: #22249dc0;
  border: none;
}
.secondary-content,.first-content,.third-content {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(24,auto);
  margin: 10px 0;
}
.first-content {
  margin: 0;
}
.sidebar-container {
grid-column: 1 / -1;
display: flex;
justify-content: space-evenly;
padding: 3em;
height: 80vh;
}
.left-side-content {
}
.right-side-content {
}
.third-main-content {
  grid-column: 1 / -1;
}