/*Petra gjort*/
@import "./root.css";

.contact-wrapper {
  width: 100%;
  margin: 0;
  padding: 1em;
  background-color: var(--backgroundColor-primary);
  color: var(--color-primary);
}
.contact-content {
  width: 80%;
  margin: 2em auto;
  display: flex;
}
.contact-form-container{
  margin-left: 1em;
  width: 60%;
  padding: 1em;
  border-radius: 15px;
  color: var(--backgroundColor-primary);
  background-color: var(--backgroundColor-third);
}
.contact-form-container p {
  width: 100%;
}
.contact-form-input {
  width: 100%;
  padding: 1%;
  border-radius: 5px;
}
.contact-label {
  margin: 0.6em 0;
  font-weight: bold;
}
.contact-icons{
  font-size: 1.5em;
  color:var(--color-primary);
}
.city {
  font-size: 1em;
  margin-left: 1ch;
}
/* relaterat till då meddelande skickas via form */
.contact-form span {
  display: none;
}
.contact-form .visible {
  display: inline-block;
}

.form-btn-vis {
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

.form-btn-hidden {
  display: none;
}


@media screen and (max-width: 800px) {

.contact-content{
  flex-direction: column;
}
.contact-form-container{
  width: 100%;
  margin: 2em 0;
}
}