/* PETRA gjort*/
.course-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.course-header h2 {
  margin: 1em;
  color: var(--backgroundColor-primary);
  font-size: 2.2em;
  text-transform: uppercase;
}
.add-new-course-btn {
  margin-left: 2ch;
}
.course-btns {
  border-radius: 5px;
  color: var(--color-primary);
  font-weight: bold;
  border: none;
  background-color: var(--backgroundColor-secondary);
  text-align: center;
  padding: 0.5em;
}
.course-container {
  font-family: "Raleway", sans-serif;
  width: 100%;
  min-height: 60vh;
  padding: 2%;
  background-color: var(--backgroundColor-primary);
  box-shadow: rgb(0 0 0 / 22%) 0px 1px 15px;
}
.course-info {
  border-radius: 25px;
}

.course-label {
  margin-top: 0.6em;
}
.show-courses {
  margin: 0 auto;
  width: 70%;
  padding: 2%;
  background-color: var(--color-primary);
}

/* COURSE "CARDS" */
.card-header {
  display: flex;
  padding: 0;
  justify-content: space-between;
  background: none;
}

.card-header h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--backgroundColor-primary);
}
.course-details {
  font-size: 1rem;
  border-bottom: 1px solid #333;
}
.course-table {
  width: 100%;
}
.course-th {
  font-weight: bold;
  color: var(--backgroundColor-primary);
  font-size: 1rem;
}

.course-decription {
  width: 80%;
  min-height: 10ch;
  margin-top: 0.8em;
  line-height: 1.6;
  font-size: 1em;
}
.course-btn-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 1em 0;
}

.delete-course-btn {
  background-color: rgba(255, 0, 0, 0.534);
  margin-left: 3em;
}
.update-course-btn {
  margin: 1em 0;
  
}

/* Relaterat till AddCourse */

.course-specs {
  width: 70%;
  margin: 0 auto;
  padding: 1%;
  border-radius: 25px;
  background-color: var(--backgroundColor-third);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.add-course-form {
  width: 50%;
  display: grid;
  justify-items: start;
  font-weight: bold;
  margin: 0 auto;
}
.add-course-btn {
  margin-top: 1em;
  width: fit-content;
}
.courseLabel {
  font-weight: bold;
  color: #fafafa;
}

.course-input {
  padding: 1.5%;
  border-radius: 5px;
  width: 100%;
}
.submit-message {
  text-align: center;
  color: var(--color-primary);
}

/* Relaterat till Modal/ Update */

.update-wrapper {
  position: fixed;
  top: 4rem;
  left: 10%;
  z-index: 1000;
  display: grid;
  gap: 0.5em;
  width: 40ch;
  justify-content: center;
  color: var(--color-primary);
  background-color: rgba(0, 0, 0, 0.664);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.update-course-form {
  width: 80%;
  margin: 1em auto;
}

.update-form input,
textarea,
select {
  border-radius: 5px;
  padding: 1%;
}

#close {
  height: 2rem;
  aspect-ratio: 1;
  text-align: center;
  background-color: white;
}
#close:hover {
  color: red;
  background-color: rgba(0, 0, 0, 0.664);
}

/* SMALLER SCREEN */

@media screen and (max-width: 800px) {
  .show-courses {
    width: 100%;
    margin: 0 auto;
  }
  .course-header {
    display: flex;
    flex-wrap: wrap;
    margin: 0.6em 0;
    justify-content: center;
  }
  .course-header h2 {
    width: 100%;
    text-align: center;
  }
  .course-header button {
    margin: 1em;
  }
}
