h2 {
  margin: 1em;
  color:#fafafa;
}
.course-container {
  margin: 2em auto;
  width: 70%;
  min-height: 60vh;
  background-color: #1417afc0;
  padding: 2%;
}
.course-header {
  display: flex;
  justify-content: space-between;
}
.course-list{
  display:grid;
}
.show-courses {
  margin: 0 auto;
  width: 50%;
  padding: 2%;
 
}

.course-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

Button {
  max-height:3rem;
  min-width: fit-content;
}
.course-headings {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #333;
  margin-bottom: 1em;
  padding: 1%;
}
/* Relaterat till AddCourse */

.add-course-form {
  width: 100%;
  margin: 0;
  display: grid;
  justify-items: center;
}
.add-course-btn {
  margin-top: 1em;
  border-radius: 5px;
  width: fit-content;
}
.courseLabel {
  font-weight: bold;
  color: #fafafa;
}

#kurs {
  padding: 0.4%;
  border-radius: 5px;
  width: 40%;
}
.submit-message {
  text-align: center;
}

/* Relaterat till Modal/ Update */
.update-container {
 width: fit-content;
}
.update-form {
  padding: 1em;
  display:grid;
  gap:0.5em;
 max-width:50ch;
 justify-content: center;
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.update-form label {
  color: #fafafa;
}
.update-form input, textarea, select {
  border-radius: 5px;
  padding: 1%;
}

.close {
  height: 2rem;
  aspect-ratio: 1;
  text-align: center;
  background-color: white;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}