/* Generell css + section 1*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.utbildningar-first-wrapper {
    max-width: 100%;
    margin: 0;
    padding: 1em;
    background-color: var(--backgroundColor-primary);
}
.utbildningar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.utbildningar-first {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(24,1fr);
    margin-top: 20px;
}
.utbildningar-first .utbildningar {
    grid-column: 2 / 12;
}
.utbildningar-first .kurser {
    grid-column:  13 / 24;
}
.utbildningar-first-wrapper h1 {
    color:var(--color-secondary);
}
.utbildningar-secondary {
    color: black;
} 

.utbildningar .leader-and-length,.utbildningar .place-and-points {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    justify-content: space-between;
    align-items: center;
}

.utbildningar .leader-and-length .leader-grid,.utbildningar .place-and-points .place-grid{
    grid-column: 1 / 6;
    margin: 5px 0;
}
.utbildningar .leader-and-length .length-grid,.utbildningar .place-and-points .points-grid {
    grid-column: 7 / 13;
    margin: 5px 0;
}

.utbildningar label  {
    font-weight: bold;
}

.utbildningar .read-more-and-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.utbildningar .read-more-and-buttons .buttons-div button{
    border: none;
    background-color: transparent;
    color: white;
    font-weight: bold;
}

.utbildningar .read-more-and-buttons .buttons-div button:hover {
    color: var(--color-secondary);
}



.skapaUtbildning-button {
    width: 90%;
    margin: 0 auto 50px auto;
    display: inline-flex;
    justify-content: space-evenly;
    font-size: 25px;
    
}
.Education-name {
    width: 100%;
    display: flex;
    justify-content: left;
    padding:  5px 0 5px 5px;
    background-color: transparent;
    font-size: 30px;
    color: white;
    /* text-decoration: underline; */
    cursor: pointer;
    border: none;
}
.Education-content {
    padding: 0;
}

.create-utbildning-form-div {
    
}



.Education-button {
    display: flex;
    justify-content: center;
    padding: 0;
    color: white;
    background-color: transparent;
    border: none;
}

.Education-name:hover {
    transition: ease-in 50ms;
    color: var(--color-secondary);
}
.Education-Leader {
    font-size: 16px;
}
.Education-content {
    padding: 5px;
    color: white;
}
.separation-line {
    height: 2px;
    width: 100%;
    margin: 0 auto;
    background-color: black;
}
.Education-Courses {
    margin-top: 20px;
}
.Education-description {
    margin-top: 5px;
}


/* Section 2 */


.utbildningar-secondary-content {
    width: 90%;
    margin: 20px auto 0 auto;
}
.utbildningar-secondary-content-content {
    margin: 15px 0 30px 0;
}

/* Section 3 */

.utbildningar-third {
    background-color: var(--backgroundColor-primary);
}


.create-utbildning-form-div {
    display:flex;
    flex-direction: column;
}

.create-utbildning-form-div input,.create-utbildning-form-div select {
    padding: 0.5em;
    border-radius: 10px;
    margin: 1px 0;

}

