.Education-grid {
    width: 90%;
    margin: 0 auto;
    padding: 1em;
    border-radius: 10px;
    background-color: lightgrey;
    display: grid;
    grid-template-columns: repeat(12,auto);
}

.showEducation-grid {
    grid-template-columns: 1/5;
}

.Education-name {
    font-size: 30px;
    color: purple;
}

.Education-Leader {
    font-size: 23px;
}

.Education-courses {
    margin: 20px 0;
}
.Education-description {
    font-size: 15px;

}

.separation-line {
    height: 2px;
    width: 100%;
    background-color: black;
}
