/* Jontes */


/* Generell css + section 1*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


/* Utbildningar */
.utbildningar-first-wrapper {
    max-width: 100%;
    margin: 0;
    padding: 1em;
    background-color: var(--backgroundColor-primary);
}
.utbildningar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.utbildningar-first {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(24,1fr);
    margin-top: 20px;
}
.utbildningar-first .utbildningar {
    grid-column: 2 / 12;
}
.utbildningar-first .kurser {
    grid-column:  13 / 24;
}
.utbildningar-first-wrapper h1 {
    color:var(--color-secondary);
}
.utbildningar-secondary {
    color: black;
} 

.utbildningar .leader-and-length,.utbildningar .place-and-points {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    justify-content: space-between;
    align-items: center;
}

.utbildningar .leader-and-length .leader-grid,.utbildningar .place-and-points .place-grid{
    grid-column: 1 / 6;
    margin: 5px 0;
}
.utbildningar .leader-and-length .length-grid,.utbildningar .place-and-points .points-grid {
    grid-column: 7 / 13;
    margin: 5px 0;
}

.utbildningar label  {
    font-weight: bold;
}

.utbildningar .read-more-and-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.utbildningar .read-more-and-buttons .buttons-div button{
    border: none;
    background-color: transparent;
    color: white;
    font-weight: bold;
}

.utbildningar .read-more-and-buttons .buttons-div button:hover {
    color: var(--color-secondary);
}
.utbildningar .utbildningar-removeall-button {
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: white;
    float: right;
}

.skapaUtbildning-button {
    width: 90%;
    margin: 0 auto 50px auto;
    display: inline-flex;
    justify-content: space-evenly;
    font-size: 25px;
    
}

/* ShowEducation & ShowCourses */
.search-bar {
    border-radius: 10px;
    padding: 10px;
    border: none;
}

.Education-name,.Kurser-name {
    width: 100%;
    display: flex;
    justify-content: left;
    padding:  5px 0 5px 5px;
    background-color: transparent;
    font-size: 30px;
    color: white;
    cursor: pointer;
    border: none;
}
.Education-content {
    padding: 0;
}
.Education-button {
    display: flex;
    justify-content: center;
    padding: 0;
    color: white;
    background-color: transparent;
    border: none;
}

.Education-name:hover {
    transition: ease-in 50ms;
    color: var(--color-secondary);
}
.Education-Leader {
    font-size: 16px;
}
.Education-content {
    padding: 5px;
    color: white;
}
.separation-line {
    height: 2px;
    width: 100%;
    margin: 0 auto;
    background-color: black;
}
.Education-Courses {
    margin-top: 20px;
}
.Education-description {
    margin-top: 5px;
}

.Kurser-content  {
    padding: 5px;
    color: white;
    display: grid;
    grid-template-columns: repeat(12,1fr);
}
.Kurser-content label {
    font-weight: bold;
}
.Kurser-content .length-and-description {
    margin: 10px 0;
    grid-column: 1 / 6;
}
.Kurser-content .location-and-teacher {
    margin: 10px 0;
    grid-column: 6 / 13;
}
.Kurser-content .starting-date {
    margin: 10px 0;
    grid-column: 1 / 13;
}


/* createEducation & updateEducation */
.create-utbildning-background {
    background-color: var(--backgroundColor-primary);
    padding: 5em;
}
.create-utbildning-form-div {
    margin: 0 auto;
    width: 50%;
    padding: 1em;
    background-color: var(--color-secondary);
    border-radius: 30px;
}
.create-utbildning-header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.create-utbildning-back-button {
    border: none;
    background-color: transparent;
    color: white;
    font-size:25px;
}

.create-utbildning-form-div input,.create-utbildning-form-div select,.update-utbildning-form-div input,.update-utbildning-form-div select,.utbildningar textarea {
    width: 100%;
    padding: 0.5em;
    border-radius: 10px;
    margin: 3px 0;
    border: 1px solid black

}
.update-utbildning-form-div {
    width: 100%;
}

.update-utbildning-header-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.update-utbildning-header-div .update-close-button{
    font-size: 35px;
    display: flex;
    justify-content: right;
    color: white;
    background-color: transparent;
    border: none;
}

 .header-h1 {
    color: white;
}





/* Section 2 */


.utbildningar-secondary-content {
    width: 90%;
    margin: 20px auto 0 auto;
}
.utbildningar-secondary-content-content {
    margin: 15px 0 30px 0;
}

/* Section 3 */

.utbildningar-third {
    background-color: var(--backgroundColor-primary);
}


.create-utbildning-form-div {
    display:flex;
    flex-direction: column;
}



@media (max-width:1400px){
    .utbildningar-first,.utbildningar .read-more-and-buttons,.utbildningar .utbildningar-header,.kurser .utbildningar-header {
      display: block;
    }
  }