/* Jontes */
.footer {
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid #111;
    padding: 2em;
    background-color: var(--backgroundColor-primary);
}
.footer-container {
    width: 90%;
    margin: 0 auto;

}


.footer-links {
    display: flex;
    justify-content: space-evenly;
}
.footer-links .links {
    color: var(--color-secondary);
    font-size: 30px;
}

