#header {
    width: 100%;
    background-color: #fafafa;
    position:sticky;
    top: 0;
    z-index: 1000;

}
#header h2{
    font-weight: bolder;
}
a{
    text-decoration: none;
    font-weight: bold;
    padding: 1%;
}
