

h2 {
    margin: 1em;
    color: #666666;
}

/* .personal-body{
    background-color: #303179;
    margin: none;
} */

.personals {
    margin: 1em;
    color: #666666;
    margin: 2em auto;
    width: 50%;
    min-height: 45vh;
    background-color: #f5cac2;
    border-radius: 25px;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
}

.form-container {
    margin: 1em;
    color: #666666;
    margin: 2em auto;
    width: 80%;
    min-height: 55vh;
    background-color: #f5cac2;
    border-radius: 25px;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
}

.personal-form {
    width: 65vh;

}

.personal-header {
    display: flex;
    justify-content: space-between;
}

.add-personal-btn, .submit-new-btn {
    background-color: #141850;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 15px;
}

.delete-personal-btn, .tillbaka-btn{
    background-color: #ed7966;
    border: none;
    color: white;
    padding: 15px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 13px;
}

.personal-container {
    background-color: #ffffff;
    width: 30%;

}

.add-personal-container {
    margin: 2em auto;
    width: 40%;
    min-height: 45vh;
    background-color: #ffffff;
    border-radius: 25px;
    padding: 15px;
}

#fName, #lName, #email, #bKonto {
    width: auto;
    height: fit-content;
}

.bKonto::-webkit-outer-spin-button,
.bKonto::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.fName, .lName, .email, .bKonto {
    width: auto;
    height: fit-content;
}