:root {

    /* Font Family */
    --ff-primary: 'Raleway';
    --ff-secondary:  sans-serif;

    /* Font Sizes */

    --fs-h1-primary: ;
    --fs-h2-primary: ;
    --fs-h3-primary: ;
    
    /* Colors */

    --color-primary: #fae5df ;
    --color-secondary: #ed7966;
    --backgroundColor-primary:#141850 ;
    --backgroundColor-secondary: #303179;
    --backgroundColor-third: #f5cac2;

    /* Grid System */
    --default-grid-columns: ;
    --default-grid-rows: ;

    

    /* Extra */
    

}