:root {

    /* Font Family */
    --ff-primary: 'Raleway';
    --ff-secondary:  sans-serif;

    /* Font Sizes */

    --fs-h1-primary: ;
    --fs-h2-primary: ;
    --fs-h3-primary: ;
    
    /* Colors */

    --color-primary: ;
    --color-secondary: ;
    --backgroundColor-primary: ;
    --backgroundColor-secodary: ;

    /* Grid System */
    --default-grid-columns: ;
    --default-grid-rows: ;

    

    /* Extra */
    

}